@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
}


.container{
    display: flex;
    padding: 50px;
}


.leftMenu{
    flex: 1;
}


.search{
    padding: 10px;
    width: 200px;
    border: 1px solid gray;
}


h1{
    font-size: 30px;
    color: #555;
    font-weight: 300;
}


.categories{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.cat{
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
}


.content{
    flex: 4;
}


.products{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}


.product{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}


img{
    width: 150px;
    height: 250px;
    object-fit: contain;
}


.name{
    font-weight: 300;
}